# My Apps
alias ls='eza -al --color=always --group-directories-first --icons'
alias dvdren='dvd_rename_and_sort.sh'
alias tvon='screens.sh tv'
alias tvoff='screens.sh desk'
# Alias
alias la='ls -la --color=auto'
alias ..='cd ..'

export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'
# Use Vim as the default viewer for man pages

