# My Apps
alias dvdren='dvd_rename_and_sort.sh'
alias tvon='screens.sh tv'
alias tvoff='screens.sh desk'
# Alias
# Only alias ls to eza if eza actually exists
if command -v eza >/dev/null 2>&1; then
    alias ls='eza -l --color=always --icons --group-directories-first'
    alias ll='eza -al --color=always --icons --group-directories-first'
else
    alias ls='ls --color=auto'
    alias ll='ls -lah'
fi
alias la='ls -la --color=auto'
alias ..='cd ..'
alias v='vim'
alias e=exit
alias t=tmux
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'
